<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="appName" class="java.lang.String">
        <constructor-arg value="Demo Application"/>
    </bean>

    <bean id="emp1" class="com.bhv.demo.model.Employee">
        <property name="id" value="101"/>
        <property name="name" value="John Rick"/>
        <property name="department" value="IT"/>
    </bean>

    <bean id="emp2" class="com.bhv.demo.model.Employee"
          p:id="102" p:name="Steve Jones" p:department="CP"/>


    <bean id="hosp1" class="com.bhv.demo.model.Hospital">
        <property name="name" value="VISION Eye Care"/>
        <property name="departments">
            <list>
                <value>ADMIN</value>
                <value>NURSE</value>
                <value>DOCTOR</value>
                <value>HELPER</value>
                <null/>
            </list>
        </property>
    </bean>

    <bean id="carDealer1" class="com.bhv.demo.model.CarDealer">
        <property name="name" value="BMW AMD"/>
        <property name="models">
            <set>
                <value>M5</value>
                <value>M5 Turbo</value>
                <value>M3 Turbo</value>
            </set>
        </property>
    </bean>

    <bean id="customer1" class="com.bhv.demo.model.Customer">
        <property name="id" value="101" />
        <property name="name" value="Stephen Martin" />
        <property name="products">
            <map>
                <entry key="101" value="Hp Notebook 100" />
                <entry key="102" value="Dell Victus" />
                <entry key="103" value="Asus ZenBook 14" />
            </map>
        </property>
    </bean>

    <bean id="lang1" class="com.bhv.demo.model.Languages" >
        <property name="countryAndLang">
            <props>
                <prop key="IN">Hindi</prop>
                <prop key="US">English</prop>
                <prop key="UK">British English</prop>
            </props>
        </property>
    </bean>

    <bean id="student1" class="com.bhv.demo.model.Student">
        <property name="id" value="1001" />
        <property name="name" value="Meet Patel" />
        <property name="age" value="27" />
        <property name="address" ref="add1" />
    </bean>

    <bean id="add1" class="com.bhv.demo.model.Address">
        <property name="street" value="Ram Vatika" />
        <property name="city" value="Ankleshwar" />
        <property name="state" value="Gujarat" />
        <property name="country" value="India" />
        <property name="zip" value="393001" />
    </bean>

    <bean id="student2" class="com.bhv.demo.model.Student"
          p:id="1002"
          p:name="Yash Patel"
          p:age="28"
          p:address-ref="add2" />

    <bean id="add2" class="com.bhv.demo.model.Address"
          p:street="Sai Nath Society"
          p:city="Diwalipura"
          p:state="Gujarat"
          p:country="India"
          p:zip="390001" />

    <bean id="home" class="com.bhv.demo.lifecycle.Home" init-method="doSetUp" destroy-method="doCleanUp">
        <property name="name" value="Sweet Home" />
    </bean>


</beans>